:root {
  --bs-purple: #ae279d;
  --bs-pink: #f51166;
  --bs-orange: #f04c22;
  --bs-yellowgold: #f18720;
  --bs-yellowlemon: #f5b501;
  --bs-yellowsun: #f5d016;
  --bs-gray1: #222222;
}

body {
  background-color: var(--bs-pink);
  font-family: "Roboto", sans-serif;
  /* width: 100vw; */
}

#container {
  background-color: #f5b501;
  /* width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  position: relative;
  top: 50vh;
  text-align: center;
  transform: translateY(-50%);
}

/* ----------- Color Flipper */

/* ----------- (End) Color Flipper */
