:root {
  --bs-purple: #ae279d;
  --bs-pink: #f51166;
  --bs-orange: #f04c22;
  --bs-yellowgold: #f18720;
  --bs-yellowlemon: #f5b501;
  --bs-yellowsun: #f5d016;
  --bs-gray1: #222222;
}

body {
  background-color: var(--bs-pink);
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

/* ----------- Color Flipper */

/* ----------- (End) Color Flipper */
