:root {
  --color1: #e2c1f3;
  --color2: #f5e45f;
  --color3: #00c69e;
  --color4: #fd7a39;
  --color5: #07bdff;
  --color6: #fe51b0;
  --gray1: #f1f3f5;
  --gray3: #dee2e6;
  --gray5: #adb5bd;
  --gray7: #495057;
  --gray9: #212529;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    -45deg,
    #fd7a39,
    #fe51b0,
    #07bdff,
    #00c69e,
    #f5e45f,
    #e2c1f3
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif;
}

/* ----------- Nav Bar */

.background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  position: fixed;
  transition: 0.75s;
  z-index: -1;
}

.nav {
  display: flex;
  gap: 0.3vw;
  height: 150px;
  justify-content: flex-end;
  list-style-type: none;
  margin: 2% 4.5% 0 0;
  padding: 0 0 0 0;
  text-transform: uppercase;
}

.nav-icons {
  font-size: 1.8vw;
}

li {
  margin-right: 10px;
}

li a {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 100vw;

  color: var(--gray1);
  float: left;
  padding: 1.8vw;
  text-align: center;
  text-decoration: none;
  width: 1.8vw;
}

li .title {
  font-size: 0px;
  position: absolute;
  top: 7.5vw;
  text-align: center;
  width: 5.4vw;
}

/* li a:hover {
  width: auto;
} */

li:hover .title {
  color: #fff;
  font-size: 1vw;
  transform: translateY(10px);
  transition: 0.5s;
}

li.title:hover {
  transform: translateY(-10px);
}

.nav li:first-child a {
}
.nav li:first-child:hover ~ .background {
  background: var(--color1);
}
.nav li:nth-child(2) a {
}
.nav li:nth-child(2):hover ~ .background {
  background: var(--color2);
}
.nav li:nth-child(3) a {
}
.nav li:nth-child(3):hover ~ .background {
  background: var(--color3);
}
.nav li:nth-child(4) a {
}
.nav li:nth-child(4):hover ~ .background {
  background: var(--color4);
}
.nav li:nth-child(5) a {
}
.nav li:nth-child(5):hover ~ .background {
  background: var(--color5);
}
.nav li:nth-child(6) a {
}
.nav li:nth-child(6):hover ~ .background {
  background: var(--color6);
}
@keyframes illuminate {
  0% {
    transform: scale(0.7, 0.7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ----------- (End) Nav Bar */

/* ----------- Hello */
header {
  /* position: relative; */
  /* background-color: red; */
}

header h1 {
  color: var(--gray1);
  font-size: 15vw;
  letter-spacing: -0.3vw;
  padding: 2% 0 0 4.5%;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

header .header-space {
  margin-top: -4%;
}

/* ----------- (End) Hello */
/* ----------- Small Projects */
.small-projects h2 {
  color: var(--gray9);
  font-size: 20px;
  margin-bottom: 24px;
}

.small-projects {
  /* background-color: yellow; */
  padding: 5%;
}

.grid-smallprojects {
  column-gap: 3%;
  display: flex;
  justify-content: space-between;
}

/* -------------------flip card----------------- */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 32vh;
  width: 18vw;
  border-radius: 12px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  height: 32vh;
  width: 18vw;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  background-color: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 0 0 10px 0;
}

.flip-card-front img {
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: auto;
  width: 18vw;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front h3 {
  align-items: center;
  color: var(--gray1);
  display: flex;
  font-size: 1vw;
  justify-content: center;
  text-transform: uppercase;
  margin: 5% 0;
  gap: 5%;
}

.flip-card-back h1,
p {
  margin: 10%;
}

.flip-card-button {
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid var(--gray1);
  color: var(--gray3);
  margin: 0 auto;
  padding: 10px 0px;
  transition: all 350ms ease-in;
  width: 80%;
}

.flip-card-button a {
  color: var(--gray1);
  text-decoration: none;
  font-weight: bold;
}

.flip-card-button:hover a {
  background: linear-gradient(
    -45deg,
    #fd7a39,
    #fe51b0,
    #07bdff,
    #00c69e,
    #f5e45f,
    #e2c1f3
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flip-card-button:hover {
  background-color: var(--gray1);
  color: var(--gray7);
}

.flip-card-text {
  align-items: center;
  color: var(--gray1);
  display: flex;
  font-size: 1vw;
  justify-content: center;
  text-transform: uppercase;
  margin: 2% 0;
  gap: 5%;
}

.flip-card-icons {
  font-size: 1vw;
  margin-top: -2%;
}

/* -------------------flip card----------------- */

/* ----------- (End) Small Projects */
/* ----------- Footer */

footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0; */
  background-color: var(--gray1);
  height: 100px;
}

/* ----------- (End) Footer */

/* Extra small devices (phones, 630px and down) */
